<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Subir un archivo</title>
        <meta name="description" content="Formulario para subir un archivo al servidor">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-gray-100">
        <h1 class="text-4xl text-center text-slate-800 uppercase bg-blue-400 p-4">
            Subir un archivo
        </h1>

        <div class="flex flex-col items-center align-center h-full m-4 p-4 border border-gray-300 rounded-lg bg-white">
            <p id="message" class="text-center font-bold mt-4"></p>

            <div class="relative overflow-x-auto shadow-lg sm:rounded-lg m-3 p-3 bg-white w-full">
                <h2 class="text-2xl text-center text-slate-800 font-bold">
                    Selecciona un archivo para subir
                </h2>

                <form id="uploadForm" class="flex flex-col items-center">
                    <input type="file" name="file" id="fileInput" class="border border-gray-300 p-2 rounded-lg w-1/2">
                    <button type="submit" class="block text-center text-blue-500 font-bold mt-4">
                        Subir archivo
                    </button>
                </form>
            </div>


            <div class="flex flex-col items-center">
                <button class="block text-center text-blue-500 font-bold mt-4">
                    <a href="/views/files" class="text-blue-500 font-bold">
                        Ver archivos subidos
                    </a>
                </button>
            </div>


            <p id="message" class="text-center font-bold mt-4"></p>
        </div>

        <script>
            document.getElementById("uploadForm").addEventListener("submit", async function(event) {
                event.preventDefault(); // Evita que la página se recargue

                const formData = new FormData();
                const fileInput = document.getElementById("fileInput");
                
                if (fileInput.files.length === 0) {
                    alert("Selecciona un archivo antes de subir.");
                    return;
                }

                formData.append("file", fileInput.files[0]);

                try {
                    const response = await fetch("/api/v1/upload", {
                        method: "POST",
                        body: formData
                    });

                    const result = await response.json();
                    console.log(result);
                    document.getElementById("message").classList.remove("text-green-500", "text-red-500");

                    if (response.ok) {
                        document.getElementById("message").classList.add("text-green-500");
                        document.getElementById("message").textContent = result.message;
                    } else {
                        document.getElementById("message").textContent = result?.message ? result.message : result.error;
                        document.getElementById("message").classList.add("text-red-500");
                    }
                } catch (error) {
                    document.getElementById("message").textContent = error.message;
                    document.getElementById("message").classList.add("text-red-500");
                } finally {
                    fileInput.value = "";
                    setTimeout(() => {
                        document.getElementById("message").textContent = "";
                    }, 3000);
                }
            });

            // Ocultar el mensaje cuando se seleccione un archivo
            document.getElementById("fileInput").addEventListener("change", function() {
                document.getElementById("message").textContent = "";
                document.getElementById("message").classList.remove("text-green-500", "text-red-500");
            });
        </script>
    </body>
</html>