<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de PDFs cargados</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        .animate-glow {
            animation: glow 1.5s infinite alternate;
        }

        @keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
            }
            to {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0ff, 0 0 35px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 75px #0ff;
            }
        }
    </style>
</head>
<body class="bg-gray-800">
    <h1 class="text-4xl text-center text-white font-bold text-slate-800 uppercase bg-green-600 p-4">
        Archivos cargados
    </h1>
    
    <div class="flex flex-col items-center align-center h-full m-4 p-4 border border-gray-300 rounded-lg bg-gray-300">
        <div class="flex flex-col items-center">
            <p id="message" class="text-center font-bold mt-4"></p>
        </div>
    
        <div class="relative overflow-x-auto shadow-lg sm:rounded-lg m-3 p-3 bg-white w-full">
            <table class="border-gray-300 w-full mt-4 rounded-lg border-collapse overflow-hidden">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="rounded-tl-lg border border-gray-300 p-2 w-2/3">Nombre</th>
                        <th class="rounded-tr-lg border border-gray-300 p-2 w-1/3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pdf in files %}
                        <tr>
                            <td class="border border-gray-300 p-2">
                                <p class="text-blue-500 font-bold">
                                    {{ pdf["name"] }}
                                </p>
                            </td>
                            <td class="grid grid-cols-1 md:grid-cols-3 gap-3 p-2 border border-gray-300 place-items-center">
                                <a
                                    class="cursor-pointer bg-blue-500 p-2 rounded-lg hover:bg-blue-600 flex items-center justify-center w-4/5 md:w-11/12"
                                    onclick="viewModal(this.getAttribute('data-src'))"
                                    data-src="{{ pdf['name'] }}"
                                    title="Ver archivo"
                                >
                                    <span class="text-xl text-white text-center">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </span>
                                </a>

                                <a
                                    class="cursor-pointer bg-green-500 p-2 rounded-lg hover:bg-green-600 flex items-center justify-center w-4/5 md:w-11/12"
                                    onclick="generateQR(this.getAttribute('data-name'))"
                                    data-name="{{ pdf['name'] }}"
                                    title="Generar QR"
                                >
                                    <span class="text-xl text-white text-center">
                                        <i class="fa-solid fa-qrcode"></i>
                                    </span>
                                </a>                                

                                <a
                                    class="cursor-pointer bg-red-500 p-2 rounded-lg hover:bg-red-600 flex items-center justify-center w-4/5 md:w-11/12"
                                    onclick="deletePDF(this.getAttribute('data-name'))"
                                    data-name="{{ pdf['name'] }}"
                                    title="Eliminar archivo"
                                >
                                    <span class="text-xl text-white text-center">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    {% if files|length == 0 %}
                        <tr>
                            <td class="border border-gray-300 p-2 text-center" colspan="2">
                                No hay archivos cargados.
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>        
        </div>
        {% if files|length > 0 %}
            <div id="deleteAllButton" class="flex justify-center">
                <button id="deleteAll" class="flex bg-red-500 text-white p-2 rounded-lg hover:bg-red-600" title="Eliminar todos">
                    <span class="text-2xl text-white">
                        <!-- Imagen con trazos blancos-->
                        <img src="{{ assetDelete }}" class="h-8 w-8 invert" alt="Eliminar todos">
                    </span>
                    <p class="mt-1 font-bold">Eliminar todos</p>
                </button>
            </div> 
        {% endif %}
    </div>

    <!-- MODAL PARA VISOR DE ARCHIVOS -->
    <div id="pdfModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-3/4 relative overflow-hidden flex flex-col items-center" id="modalContent">
            <h2 class="text-2xl text-center text-slate-800 font-bold" id="modalTitle"></h2>
            <!-- Visor para PDFs-->
            <iframe
                id="pdfViewer"
                class="w-full h-[500px] mt-4 hidden"
                src=""
                frameborder="0"
            ></iframe>

            <!-- Visor para imagenes-->
            <img
                id="imageViewer"
                class="w-auto h-4/5 md:h-[400px] mt-4 hidden border-3 p-3 rounded-lg border-gray-300"
                src=""
                alt="Imagen"
            >

            <!-- Visor para textos -->
            <div
                id="textViewer"
                class="w-full h-[500px] mt-4 hidden overflow-auto"
            >
                <span class="text-center text-slate-800 font-bold"></span>
            </div>
        </div>
    </div>

    <!-- MODAL PARA VER EL QR -->
    <div id="qrModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-2/4 md:w-5/12 h-3/4 relative overflow-hidden">
            <h2 class="text-2xl text-center text-slate-800 font-bold">Código QR</h2>
            <img id="qrImage" class="w-4/5 h-4/5 md:h-[400px] mt-4" src="" alt="Código QR">
        </div>
    </div>

    <a
        id="floatingButton"
        href="/views/upload"
        class="fixed bottom-6 right-6 bg-blue-500 text-white w-14 h-14 flex items-center text-center justify-center rounded-lg shadow-[0_0_15px_4px_rgba(130,129,129,0.7)] hover:shadow-[0_0_25px_6px_rgba(130,129,129,1)] hover:scale-110 transition-transform duration-300 animate-all mb-4"
        title="Subir archivos"
    >
        <i class="fa-solid fa-upload text-xl"></i>
    </a>

    <script src="{{ JSfile }}"></script>
</body>
</html>